{% extends "base.html.twig" %}

{% block body %}

    <div class="d-flex justify-content-center">
        <h1>Gérer les lieux</h1>
    </div>

    <div class="mt-5 overflow-auto text-left" style="height: 300px;">
        <table class="table table-hover">
            <thead>
            <tr class="table-active">
                <th scope="col">Ville</th>
                <th scope="col">nom</th>
                <th scope="col">rue</th>
                <th scope="col">latitude</th>
                <th scope="col">longitude</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for lieu in lieux %}
                <tr class="table-light">
                    <th>{{ lieu.ville.nom }}</th>
                    <th>{{ lieu.nom }}</th>
                    <th>{{ lieu.rue }}</th>
                    <th>{{ lieu.latitude}}</th>
                    <th>{{ lieu.longitude }}</th>
                    <th>Modifier - Supprimer</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" >
        <a href="{{ path('home_home') }}" style="color: white">Ajouter</a>
    </button>


{% endblock%}