{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme formSite 'bootstrap_4_layout.html.twig' %}

    <div class="mt-4">
        <div class="d-flex justify-content-center mb-1">
            <h1>Modifier une site</h1>
        </div>
        <div class="d-flex justify-content-center">
            {{ form_start(formSite,{'attr': {'class': 'col-4'}}) }}
            <div class="form-group">
                {{ form_label(formSite.nom, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(formSite.nom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="d-flex form-group justify-content-center">
                {{ form_widget(formSite.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(formSite) }}
        </div>
    </div>


{% endblock %}


