{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="d-flex alert alert-info justify-content-center">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('errors') %}
            <div class="d-flex alert alert-danger justify-content-center">
                {{ message }}
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            <h1>Gérer les sites</h1>
        </div>
        {#
        <div class="d-flex">
        <h4>Filtrer les sites</h4>
    </div>

    <div class="d-flex justify-content">
        <div class="form-group col-6">
            <label for="fld-name">Le nom contient :</label>
            <p class="form-control" id="nom">{{ "" }}</p>
        </div>
        <div>
            <button class="btn btn-primary" >
                <a style="color: white">Rechercher</a>
            </button>
        </div>
    </div>
        #}

        <div class="mt-5 overflow-auto text-left">
            <table class="table table-hover">
                <thead>
                <tr class="table-active">
                    <th scope="col">Ville</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    <tr class="table-light">
                        <th>{{ site.nom }}</th>
                        <th>
                            <a href="{{ path('site_modifierSite', {'id': site.getId()}) }}">Modifier</a>
                            - <a href="{{ path('site_supprimerSite', {'id': site.getId()}) }}">Supprimer</a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <a type="button" class="btn btn-primary" href="{{ path('site_ajouterSite') }}">Ajouter</a>
        </div>
    </div>

{% endblock%}