{% extends "base.html.twig" %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="d-flex alert alert-info justify-content-center">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('errors') %}
        <div class="d-flex alert alert-danger justify-content-center">
            {{ message }}
        </div>
    {% endfor %}

    <div class="mt-4">
        <div class="row d-flex justify-content-center mb-1">
            <h1>Gérer les sites</h1>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Filtrer les sites</h4>
            </div>

            <div class="col-12 pl-0">
                {{ form_start(formSearch, {'attr': {'class': 'col-12'}})}}
                {% form_theme formSearch 'bootstrap_4_layout.html.twig' %}

                <div class="d-flex align-items-center row">
                    <div class="form-group col-8">
                        {{ form_label(formSearch.nomSite) }}
                        {{ form_widget(formSearch.nomSite, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="pt-3 col-4">
                        {{ form_widget(formSearch.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_end(formSearch) }}
                </div>

            </div>
        </div>

        <div class="mt-5 overflow-auto text-left" style="height: 200px">
            <table class="table table-primary table-hover">
                <thead>
                <tr class="table-primary">
                    <th scope="col">Ville</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    <tr class="table-light text-dark">
                        <th>{{ site.nom }}</th>
                        <th>
                            <a href="{{ path('site_modifierSite', {'id': site.getId()}) }}">Modifier</a>
                            - <a href="{{ path('site_supprimerSite', {'id': site.getId()}) }}">Supprimer</a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <a type="button" class="btn btn-primary" href="{{ path('site_ajouterSite') }}">Ajouter</a>
        </div>
    </div>

{% endblock%}