{% extends "base.html.twig" %}

{% block title %}Annuler une sortie{% endblock %}

{% block body %}

    {% form_theme formAnnuler 'bootstrap_4_layout.html.twig' %}
    <div class="mt-4">
        <div class="d-flex justify-content-center mb-1">
            <h1>Annuler une sortie</h1>
        </div>

        <div class="d-flex justify-content-center">
            <div class="col-8">
                <div class="form-group">
                    <label class="form-check-label">Nom de la sortie</label>
                    <p class="form-control">{{sortie.nom}}</p>
                </div>

                <div class="form-group">
                    <label class="form-check-label">Date et heure de la sortie</label>
                    <p class="form-control">{{ sortie.dateHeureDebut|format_datetime('short', 'short', locale='fr')}}</p>
                </div>

                <div class="form-group">
                    <label class="form-check-label">Site organisateur</label>
                    <p class="form-control">{{ sortie.campus.nom}}</p>
                </div>

                <div class="form-group">
                    <label class="form-check-label">Lieu</label>
                    <p class="form-control">{{ sortie.lieu.nom}} {{ sortie.lieu.ville.codePostal}} {{ sortie.lieu.ville.nom}}</p>
                </div>

            {{ form_start(formAnnuler)}}
                <div class="form-group">
                    {{ form_label(formAnnuler.motif, null,{'label_attr': {'class': 'form-check-label'}}) }}
                    {{ form_widget(formAnnuler.motif, {'attr': {'class': 'form-control'}}) }}

                </div>

                <div class="form-group d-flex justify-content-center mt-2">
                {{ form_widget(formAnnuler.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                <a class="btn btn-primary ml-2" type="button" href="{{ url('home_home') }}">Annuler</a>
                </div>

            {{ form_end(formAnnuler) }}
        </div>

    </div>

{% endblock %}