{% extends "base.html.twig" %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}

    {% form_theme formSortie 'bootstrap_4_layout.html.twig' %}

    {% for message in app.flashes('success') %}
        <div class="d-flex alert alert-primary justify-content-center mt-2">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('errors') %}
        <div class="d-flex alert alert-danger justify-content-center mt-2">
            {{ message }}
        </div>
    {% endfor %}

    <div class="mt-4">
        {# titre #}
        <div class="d-flex justify-content-center mb-1">
            <h1>Créer une sortie</h1>
        </div>
        <div class="container px-4">
            {{ form_start(formSortie,{'attr': {'class': 'row gx-3'}}) }}
                <div class="col-6">
                    <div class="form-group">
                        {{ form_label(formSortie.nom, null,{'label_attr': {'class': 'form-check-label'}}) }}
                        {{ form_widget(formSortie.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formSortie.dateHeureDebut, null,{'label_attr': {'class': 'form-check-label'}}) }}
                        {{ form_widget(formSortie.dateHeureDebut, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formSortie.dateLimiteInscription, null,{'label_attr': {'class': 'form-check-label'}}) }}
                        {{ form_widget(formSortie.dateLimiteInscription, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formSortie.nbInscriptionMax, null,{'label_attr': {'class': 'form-check-label'}}) }}
                        {{ form_widget(formSortie.nbInscriptionMax, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formSortie.duree, null,{'label_attr': {'class': 'form-check-label'}}) }}
                        {{ form_widget(formSortie.duree, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formSortie.infosSortie, null,{'label_attr': {'class': 'form-check-label'}}) }}
                        {{ form_widget(formSortie.infosSortie, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        {{ form_label(formSortie.ville, null,{'label_attr': {'class': 'form-check-label'}}) }}
                        {{ form_widget(formSortie.ville, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="d-flex align-items-center row">
                        <div class="form-group col-10">
                            {{ form_label(formSortie.lieu, null,{'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(formSortie.lieu, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-2 pt-2">
                            <a class="btn btn-primary rounded-circle" type="button" id="addLieu" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
                            </a>
                        </div>
                    </div>
                    <div class="form-group" id="monLieuRue">
                    </div>
                    <div class="form-group" id="monLieuCodePostal">
                    </div>
                    <div class="form-group" id="monLieuLat">
                    </div>
                    <div class="form-group" id="monLieuLong">
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center form-group mt-4">
                    <input class="btn btn-primary mr-2" type="submit" id="save" name="save" value="Envoyer">
                    <input class="btn btn-primary mr-2" type="submit" id="publish" name="publish" value="Publier la sortie">
                    <a class="btn btn-primary" type="button" id="back" href="{{ url('home_home') }}">Annuler</a>
                </div>
            {{ form_end(formSortie) }}
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un lieu</h5>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <form class="col-8" method="POST">
                        <div class="form-group" id="divNom">
                            <label class = "form-check-label" for="nom">Nom</label>
                            <input class="form-control" id="nom" type="text">
                        </div>
                        <div class="form-group" id="divRue">
                            <label class = "form-check-label" for="rue">Adresse</label>
                            <input class="form-control" id="rue" type="text">
                        </div>
                        <div class="form-group">
                            <label class = "form-check-label" for="villes">Ville</label>
                            <select class="form-control" id="villes"></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" id="enregistrer" class="btn btn-primary">Enregistrer</button>
                    <button type="button" id="close" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


