{% extends "base.html.twig" %}

{% block title %}Detail Sortie{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center">
        <h1>Afficher une sortie</h1>
    </div>
    <div class="d-flex justify-content-center">
        {% if sortie.etat.libelle == 'Annulée'  %}
            <h4 class="text-danger mb-4">Sortie Annulée</h4>
        {% endif %}
    </div>

    <div class="d-flex flex-wrap">
        <div class="form-group col-6">
            <label for="nom">Nom de la sortie</label>
            <p class="form-control" id="nom">{{ sortie.nom}}</p>
        </div>
        <div class="form-group col-6">
            <label for="lieu">Lieu</label>
            <p class="form-control" id="lieu">{{ sortie.lieu.nom}}</p>
        </div>

        <div class="form-group col-6">
            <label for="date_sortie">Date et heure de la sortie</label>
            <p class="form-control" id="date_sortie">{{ sortie.dateHeureDebut|format_datetime('short', 'short', locale='fr')}}</p>
        </div>

        <div class="form-group col-6">
            <label for="rue">Rue</label>
            <p class="form-control" id="rue">{{ sortie.lieu.rue}}</p>
        </div>

        <div class="form-group col-6">
            <label for="date_limite">Date limite d'inscription</label>
            <p class="form-control" id="date_limite">{{ sortie.dateLimiteInscription|format_datetime('short', 'none', locale='fr') }}</p>
        </div>

        <div class="form-group col-6">
            <label for="ville">Ville</label>
            <p class="form-control" id="ville">{{ sortie.lieu.ville.nom}}</p>
        </div>

        <div class="form-group col-6">
            <label for="nbPlace">Nombre de place</label>
            <p class="form-control" id="nbPlace">{{ sortie.nbInscriptionMax }} places</p>
        </div>

        <div class="form-group col-6">
            <label for="cp">Code Postal</label>
            <p class="form-control" id="cp">{{ sortie.lieu.ville.codePostal }}</p>
        </div>


        <div class="form-group col-6">
            <label for="duree">Durée</label>
            <p class="form-control" id="duree">{{ sortie.duree }} heures</p>
        </div>

        <div class="form-group col-6">
            <label for="nbPlace">Latitude</label>
            <p class="form-control" id="nbPlace">{{ sortie.lieu.latitude }}</p>
        </div>

        <div class="form-group col-6">
            <label for="description">Description et informations</label>
            <textarea readonly class="form-control" id="description">{{ sortie.infosSortie}}</textarea>
        </div>

        <div class="form-group col-6">
            <label for="nbPlace">Longitude</label>
            <p class="form-control" id="nbPlace">{{ sortie.lieu.longitude}}</p>
        </div>
    </div>

    <div>

        <div>
            <h4>Liste des participants inscrits</h4>
        </div>
        <div class="overflow-auto mt-2 col-6 text-left" style="height: 200px;">
            <table class="table table-hover">
                <thead>
                <tr class="table-active">
                    <th scope="row">Pseudo</th>
                    <th scope="row">Nom</th>
                </tr>
                </thead>
                <tbody>
                {% if sortie.participants %}
                    {% for user in sortie.participants %}
                    <tr class="table-light">
                        <td><a href="{{ path('user_detailUser', {'id': user.id}) }}">{{ user.pseudo }}</a></td>
                        <td >{{ user.nom}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock%}