{% extends "base.html.twig" %}

{% block body %}

    <div class="d-flex justify-content-center">
        <h1>Afficher une sortie</h1>
    </div>
    <div class="d-flex flex-wrap">
        <div class="form-group col-6">
            <label for="exampleInputEmail1">Nom de la sortie</label>
            <p class="form-control" id="nom">{{ sortie.nom}}</p>
        </div>
        <div class="form-group col-6">
            <label for="exampleInputEmail1">Lieu</label>
            <p class="form-control" id="lieu">{{ sortie.lieu.nom}}</p>
        </div>

        <div class="form-group col-6">
            <label for="exampleInputEmail1">Date et heure de la sortie</label>
            <p class="form-control" id="date_sortie">{{ sortie.dateHeureDebut|format_datetime('short', 'short', locale='fr')}}</p>
        </div>

        <div class="form-group col-6">
            <label for="exampleInputEmail1">Rue</label>
            <p class="form-control" id="rue">{{ sortie.lieu.nom}}</p>
        </div>

        <div class="form-group col-6">
            <label for="exampleInputEmail1">Date limite d'inscription</label>
            <p class="form-control" id="date_limite">{{ sortie.dateLimiteInscription|format_datetime('short', 'none', locale='fr') }}</p>
        </div>

        <div class="form-group col-6">
            <label for="exampleInputEmail1">Ville</label>
            <p class="form-control" id="ville">{{ sortie.lieu.ville.nom}}</p>
        </div>

        <div class="form-group col-6">
            <label for="exampleInputEmail1">Nombre de place</label>
            <p class="form-control" id="nbPlace">{{ sortie.nbInscriptionMax }} places</p>
        </div>

        <div class="form-group col-6">
            <label for="exampleInputEmail1">Code Postal</label>
            <p class="form-control" id="cp">{{ sortie.lieu.ville.codePostal }}</p>
        </div>


        <div class="form-group col-6">
            <label for="exampleInputEmail1">Durée</label>
            <p class="form-control" id="duree">{{ sortie.duree }} heures</p>
        </div>

        <div class="form-group col-6">
            <label for="exampleInputEmail1">Latitude</label>
            <p class="form-control" id="nbPlace">{{ sortie.lieu.latitude }}</p>
        </div>

        <div class="form-group col-6">
            <label for="exampleInputEmail1">Description et informations</label>
            <p class="form-control" id="description">{{ sortie.infosSortie }}</p>
        </div>
        <div class="form-group col-6">
            <label for="exampleInputEmail1">Longitude</label>
            <p class="form-control" id="nbPlace">{{ sortie.lieu.longitude}}</p>
        </div>
    </div>

    <div>
        <div>
            <h4>Liste des participants inscrits</h4>
        </div>
        <div class="table-wrapper-scroll-y">
            <table class="table table-hover mt-5 col-6 table-bordered table-striped">
                <thead>
                <tr class="table-active">
                    <th scope="row">Pseudo</th>
                    <th scope="row">Nom</th>
                </tr>
                </thead>
                <tbody>
                    {% for user in sortie.participants %}
                    <tr class="table-light">
                            <td >{{ user.pseudo }}</td>
                            <td >{{ user.nom}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}