{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme formVille 'bootstrap_4_layout.html.twig' %}

    <div class="mt-4">
        <div class="d-flex justify-content-center mb-1">
            <h1>Ajouter une ville</h1>
        </div>
        <div class="d-flex justify-content-center">
            {{ form_start(formVille,{'attr': {'class': 'col-4'}}) }}
            <div class="form-group">
                {{ form_label(formVille.nom, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(formVille.nom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(formVille.codePostal, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(formVille.codePostal, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="d-flex form-group justify-content-center">
                {{ form_widget(formVille.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(formVille) }}
        </div>
    </div>


{% endblock %}



