{% extends "base.html.twig" %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="d-flex alert alert-primary justify-content-center">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('errors') %}
        <div class="d-flex alert alert-danger justify-content-center">
            {{ message }}
        </div>
    {% endfor %}

    {% form_theme UserType 'bootstrap_4_layout.html.twig' %}

    {{ form_start(UserType)}}

    <div class="form-group">
        {{ form_label(UserType.pseudo) }}
        {{ form_widget(UserType.pseudo, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(UserType.nom) }}
        {{ form_widget(UserType.nom, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(UserType.prenom) }}
        {{ form_widget(UserType.prenom, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(UserType.telephone) }}
        {{ form_widget(UserType.telephone, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(UserType.email) }}
        {{ form_widget(UserType.email, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(UserType.plainPassword.first)}}
        {{ form_widget(UserType.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(UserType.plainPassword.second)}}
        {{ form_widget(UserType.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(UserType.campus)}}
        {{ form_widget(UserType.campus, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_widget(UserType.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    <button class="btn btn-primary" >
        <a href="{{ path('home_home') }}" style="color: white">Annuler</a>
    </button>

    {{ form_end(UserType) }}

{% endblock %}
