{% extends "base.html.twig" %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="d-flex alert alert-primary justify-content-center mt-2">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('errors') %}
        <div class="d-flex alert alert-danger justify-content-center mt-2">
            {{ message }}
        </div>
    {% endfor %}

    {% form_theme UserType 'bootstrap_4_layout.html.twig' %}
    <div class="mt-4">
        <div class="d-flex justify-content-center mb-1">
            <h1>Mon profil</h1>
        </div>
        <div class="d-flex justify-content-center">
            {{ form_start(UserType,{'attr': {'class': 'col-8'}}) }}
            <div class="form-group">
                {{ form_label(UserType.pseudo, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(UserType.pseudo, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(UserType.nom, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(UserType.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(UserType.prenom, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(UserType.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(UserType.telephone, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(UserType.telephone, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(UserType.email, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(UserType.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(UserType.plainPassword.first, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(UserType.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(UserType.plainPassword.second, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(UserType.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(UserType.campus, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(UserType.campus, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(UserType.image, null,{'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(UserType.image, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="d-flex justify-content-center form-group">
                {{ form_widget(UserType.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                <a type="button" class="btn btn-primary ml-4" href="{{ path('home_home') }}" style="color: white">Annuler</a>
            </div>
            {{ form_end(UserType) }}
        </div>
    </div>

    <script>
        jQuery('#user_image').on('change', function (){
            var fileName = jQuery(this).val();
            jQuery(this).next('.custom-file-label').html(fileName);
        });
    </script>


{% endblock %}
